/**
 * COLORS
 *
 * Color variables for the site
 */

$base: #3498db;
$base-dark: #16514F;

$accent: #3498db;

$bg-dark: #ecebeb;
$bg-light: #f9f8f8;

$text: #565656;
$text-light: #999;
$white: #fff;
$black: #333;