/**
 * LAYOUT
 *
 * Base layout styles for the page
 */ 

body {
	margin: 0;
}

.main {
	margin-top: 3rem;
	overflow: hidden;
}

footer {
	background: $black;
	color: #999;
	text-align: center;
	padding: 2rem 0;

	a {
		color: #999;
	}
}