/**
 * LAYOUT
 *
 * Base layout styles for the page
 */ 

body {
	margin: 0;
	height: 100%;
}

.main {
	overflow: hidden;
}

footer {
	background: $black;
	color: #999;
	text-align: center;
	padding: 2rem 0;

	a {
		color: #999;
	}
}

@media screen and (min-width: 768px) {
	.main {
		margin-top: 3rem;
	}
}