/**
 * EXPERIENCE
 *
 * Styles for the home page experience card
 */

 .experience {
 	margin: 1rem;
 	padding: 1rem;
 	border: 1px solid #dedede;
 	border-radius: 4px;
 	background: $white;

 	&__title {
 		margin-bottom: .5rem;
 	}

 	&__dates,
 	&__org {
 		color: $text-light;
 		font-size: 14px;
 		display: block;
 	}
 }

 @media screen and (min-width: 768px) {

 	 .experience-wrap {
 	 	transition: .5s ease;
 	 	clear: both;
 	 	position: relative;
 	 	float: left;
 	 	width: 100%;

 	 	&:nth-child(even) {

 	 		.experience {
		 		@include triangle-left(#dedede);
		 		margin-left: 100%;
		 	}

		 	&.slide-in {
		 		.experience {
		 			-webkit-animation: slide-in-left .5s;
		 			margin-left: 56%;
		 		}
		 	}
 	 	}

 	 	&:nth-child(odd) {

 	 		.experience {
		 		@include triangle-right(#dedede);
		 		margin-left: -100%;
		 	}

		 	&.slide-in {
		 		.experience {
		 			-webkit-animation: slide-in-right .5s;
		 			margin-left: 3%;
		 		}
		 	}
 	 	}

 	 	&.slide-in {
 	 		.experience__icon {
 	 			-webkit-animation: pop-in .5s;
 	 			opacity: 1;
 	 		}
 	 	}

 	 	.experience {
 	 		@include span-columns(5);
		 	position: relative;
		}

		.experience__icon {
			position: absolute;
			left: calc(50% - 27px);
			top: calc(50% - 25px);
			background: $base;
			color: $white;
			font-size: 2rem;
			height: 50px;
			line-height: 50px;
			width: 50px;
			text-align: center;
			border-radius: 50%;
			opacity: 0;
		}
 	 }
 }