<!DOCTYPE html>
<html>
<head>
	<title>{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.min.css">
</head>
<body>
<header>
	<nav class="main-nav">
		<ul class="main-nav__list">
			<li class="main-nav__item"><a href="#skills">Skills</a></li>
			<li class="main-nav__item"><a href="#projects">Projects</a></li>
			<li class="main-nav__item logo"><a href="/">Erika Deal</a></li>
			<li class="main-nav__item"><a href="#experience">Experience</a></li>
			<li class="main-nav__item"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<nav class="mobile-nav">
		<ul class="mobile-nav__list">
			<li class="mobile-nav__item"><a href="/">Home</a></li>
			<li class="mobile-nav__item"><a href="#skills">Skills</a></li>
			<li class="mobile-nav__item"><a href="#projects">Projects</a></li>
			<li class="mobile-nav__item"><a href="#experience">Experience</a></li>
			<li class="mobile-nav__item"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<a class="mobile-nav-toggle"><i class="fa fa-bars"></i></a>
</header>