{{ partial "header.html" }}
<main class="main">
	<section class="banner">
		<div class="banner__text">
			<h1>{{ .Title }}</h1>
			<h2>Front End Developer</h2>
			<p>Seattle, WA</p>
		</div>
	</section>

	<!-- Skills -->
	<section id="skills" class="section">
		<h2 class="section__title">How I Work</h2>

		{{ range $.Site.Data.skills }}
			{{ partial "skill.html" . }}
		{{ end }}

	</section>

	<!-- Projects -->
	<section id="projects" class="section">
		<h2 class="section__title">Recent Projects</h2>

		{{ range where .Data.Pages "Section" "projects" }}
			{{ partial "project.html" . }}
		{{ end }}
	</section>

	<!-- Experience -->
	<section id="experience" class="section">
		<h2 class="section__title">Experience</h2>
		<div class="experiences">
			{{ range where .Data.Pages "Section" "experience" }}
				{{ partial "experience.html" . }}
			{{ end }}
		</div>
	</section>
</main>

{{ partial "footer.html" }}